body{
	background-color:#00aced;
}
.input{
	font-size: 1.8em;
}
#dataForm{
	display: none;
}
#screenNameTextbox{
	font-size: 1em;
}
#submitButton{
	margin-top: 35px;
	margin-left: 125px;
	font-size: 0.8em;
	color: #00ACED;
	background-color: white;
}
.responseMsgs{
	margin-top: 55px;
	font-size: 1.1em;
}
.elements{
	position:absolute;
	left:25%;
	color: white;
	font-weight: bold;
}