
#goHomeButton{
	font-size: 17px;
	color: black;
	background-color: silver;
}
#tweetCountText{
	padding:5px; 
	margin-left: 90px;
	font-size: 1.1em;
	color: white;
	font-weight: bold;
}
html { 
	background: url(/images/bigtwit.png); no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.firstRow{
	position:absolute;
	left:25%;
}

